[core]
	excludesfile = ~/.config/git/ignore
	whitespace = trailing-space,space-before-tab
[push]
	default = current
[pull]
	rebase = false
[color]
	ui = auto
[fetch]
	prune = true
[alias]
	# Shortening aliases
	co = checkout
	cob = checkout -b
	f = fetch -p
	c = commit
	p = push
	ba = branch -a
	bd = branch -d
	bD = branch -D
	dc = diff --cached

	# Feature improving aliases
	st = status -sb
	a = add -p

	# Complex aliases
	plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
	tlog = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rank = shortlog -sn --no-merges
	bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"

	# View branch info
	lbir = "!f() { git branch -r | grep -v HEAD | while read b; do git log --color --format=\"%ci _%C(magenta) %cr^ %C(bold cyan)$b%Creset^ %s^ %C(bold blue)%an%Creset\" $b | head -n 1; done | sort -r | cut -d_ -f2- | sed 's;origin/;;g' | awk -F^ -v OFS=^ 'NR{$3=substr($3,1,60)}1' | head -${1:-10} | column -t -s '^'; }; f"
	lbi  = "!f() { git branch | grep -v HEAD | while read b; do git log --color --format=\"%ci _%C(magenta) %cr^ %C(bold cyan)$b%Creset^ %s^ %C(bold blue)%an%Creset\" $b | head -n 1; done | sort -r | cut -d_ -f2- | sed 's;origin/;;g' | awk -F^ -v OFS=^ 'NR{$3=substr($3,1,60)}1' | head -${1:-10} | column -t -s '^'; }; f"
[include]
	path = ~/.config/git/identity
	path = ~/.config/git/config
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
