{{- $email := promptString "email" -}}
{{- $location := promptString "location" -}}
[data]
    email = {{ $email | quote }}
    location = {{ $location | quote }}

[diff]
	pager = "bat"

[git]
	autoCommit = true
