[core]
    excludesfile = ~/.config/git/gitignore_global
    whitespace = trailing-space,space-before-tab
[color]
    diff = auto
    status = auto
[alias]
    co = checkout
    br = branch
    oops = commit --all --amend
[apply]
    whitespace = fix
[branch]
    autosetuprebase = always
[include]
    path = ~/.git_identity
    path = ~/.gitconfig.local

# vim: et sw=4 sts=4
