[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = git@github.com:jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
