[core]
    excludesfile = ~/.config/git/ignore
    whitespace = trailing-space,space-before-tab
[color]
    ui = true
[alias]
    co = checkout
    br = branch
    oops = commit --all --amend
[apply]
    whitespace = fix
[branch]
    autosetuprebase = always
[include]
    path = ~/.config/git/identity
    path = ~/.config/git/config

# vim: et sw=4 sts=4
