# Taps
tap "homebrew/core"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-drivers"
tap "dnote/dnote"
tap "go-swagger/go-swagger"
tap "charmbracelet/tap"

# Brews
# User-friendly command-line shell for UNIX-like operating systems
brew "fish"

# Plugin manager for the Fish shell
brew "fisher"

# Modern shell for the GitHub era
brew "nushell"

# Ambitious Vim-fork focused on extensibility and agility
brew "neovim"

# Post-modern modal text editor
brew "helix"

# Simplified and community-driven man pages
brew "tldr"

# Display directories as trees (with optional color/HTML output)
brew "tree"

# Tiny, lightning fast, feature-packed file manager
brew "nnn"

# Distributed revision control system
brew "git"

# Version control system designed to be a better CVS
brew "svn"

# Simple terminal UI for git commands
brew "lazygit"

# Lazier way to manage everything docker
brew "lazydocker"

# Enable transparent encryption/decryption of files in a git repo
brew "git-crypt"

# Git extension for versioning large files
brew "git-lfs"

# Syntax-highlighting pager for git and diff output
brew "git-delta"

# GitHub command-line tool
brew "gh"

# Load/unload environment variables based on $PWD
brew "direnv"

# Internet file retriever
brew "wget"

# URL extractor/launcher
brew "urlview"

# Make JSON greppable
brew "gron"

# Swiss-army knife of markup format conversion
brew "pandoc"

# DuckDuckGo from the terminal
brew "ddgr"

# Colorize logfiles and command output
brew "grc"

# Tool for glamorous shell scripts
brew "gum"

# Render markdown on the CLI
brew "glow"

# The SSH directory
brew "wishlist"

# GNU Pretty Good Privacy (PGP) package
brew "gnupg"

# Modern replacement for 'ls'
brew "exa"

# Clone of cat(1) with syntax highlighting and Git integration
brew "bat"

# New way to see and navigate directory trees
brew "broot"

# Graph visualization software from AT&T and Bell Labs
brew "graphviz"

# Search tool like grep and The Silver Searcher
brew "ripgrep"

# Simple, fast and user-friendly alternative to find
brew "fd"

# Modern replacement for ps written by Rust
brew "procs"

# More intuitive version of du in rust
brew "dust"

# Command-line fuzzy finder written in Go
brew "fzf"

# Lightweight and flexible command-line JSON processor
brew "jq"

# Process YAML documents from the CLI
brew "yq"

# GNU File, Shell, and Text utilities
brew "coreutils"

# User-friendly cURL replacement (command-line HTTP client)
brew "httpie"

# Provides session management: i.e. separate programs from terminals
brew "abduco"

# Terminal based graphical activity monitor inspired by gtop and vtop
brew "gotop"

# Simple command-line notebook for programmers
brew "dnote"

# Object-relational database system
brew "postgresql@14"

# Pinentry for GPG on Mac
brew "pinentry-mac"

# LastPass command-line interface tool
brew "lastpass-cli"

# Open source programming language to build simple/reliable/efficient software
brew "go"

# Python version management
brew "pyenv"

# Code formatter for JavaScript, CSS, JSON, GraphQL, Markdown, YAML
brew "prettier"

# GNU compiler collection
brew "gcc"

# Next-gen compiler infrastructure
brew "llvm"

# Cross-platform make
brew "cmake"

# Collection of portable C++ source libraries
brew "boost"

# Cryptography and SSL/TLS Toolkit
brew "openssl"

# Library for command-line editing
brew "readline"

# Command-line interface for SQLite
brew "sqlite3"

# General-purpose data compression with high compression ratio
brew "xz"

# General-purpose lossless data-compression library
brew "zlib"

# Run a Kubernetes cluster locally
brew "minikube"

# Tools and libraries to manipulate images in many formats
brew "imagemagick"

# Pinentry for GPG on Mac
brew "pinentry-mac"

# Casks
cask "font-jetbrains-mono-nerd-font"
cask "font-source-code-pro"
cask "font-hack-nerd-font"
cask "font-victor-mono"
cask "font-cascadia-mono"
cask "font-cascadia-code"

cask "spotify"

cask "kitty"
cask "docker"
cask "visual-studio-code"
cask "google-cloud-sdk"
cask "chrysalis"

{{- if eq .location "thyme" }}
cask "1password-cli"
{{ end }}

{{- if eq .location "basil" }}
cask "lastpass"
cask "element"
cask "qmk-toolbox"
cask "google-chrome"
cask "slack"
{{ end }}

