# Taps
tap "homebrew/core"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-drivers"

# Brews
brew "minikube"

brew "neovim"

brew "tree"
brew "nnn"
brew "git"
brew "git-crypt"
brew "git-lfs"
brew "git-delta"
brew "gh"
brew "direnv"
brew "tmux"
brew "wget"
brew "urlview"

brew "gnupg"

brew "exa"
brew "bat"
brew "ripgrep"
brew "fd"
brew "procs"
brew "dust"
brew "fzf"

brew "fish"
brew "fisher"

brew "pinentry-mac"
brew "lastpass-cli"

brew "go"
brew "pyenv"

brew "eslint"
brew "stylua"

brew "gcc"
brew "llvm"
brew "cmake"
brew "libomp"
brew "open-mpi"

brew "boost"
brew "openssl"
brew "readline"
brew "sqlite3"
brew "xz"
brew "zlib"

# Casks
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-fira-code"
cask "font-fira-code-nerd-font"

cask "kitty"
cask "lastpass"
cask "spotify"
cask "element"
cask "docker"
cask "visual-studio-code"
cask "neovide"

{{- if eq .chezmoi.hostname "Johanns-Air" }}
cask "qmk-toolbox"
cask "google-chrome"
{{ end }}

