# Taps
tap "homebrew/core"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-drivers"
tap "dnote/dnote"
tap "go-swagger/go-swagger"

# Brews
brew "fish"
brew "fisher"

brew "nushell"

brew "neovim"
brew "helix"

brew "tldr"
brew "tree"
brew "nnn"
brew "git"
brew "svn"
brew "lazygit"
brew "git-crypt"
brew "git-lfs"
brew "git-delta"
brew "gh"
brew "direnv"
brew "wget"
brew "urlview"
brew "gron"
brew "pandoc"
brew "gum"

brew "gnupg"

brew "exa"
brew "bat"
brew "broot"
brew "graphviz"
brew "ripgrep"
brew "fd"
brew "procs"
brew "dust"
brew "fzf"
brew "jq"
brew "yq"
brew "coreutils"
brew "httpie"
brew "abduco"
brew "gotop"
brew "dnote"

brew "postgresql@14"

brew "pinentry-mac"
brew "lastpass-cli"

brew "go"
brew "pyenv"
brew "yarn"
brew "go-swagger"

brew "prettier"

brew "gcc"
brew "llvm"
brew "cmake"
brew "libomp"
brew "open-mpi"

brew "boost"
brew "openssl"
brew "readline"
brew "sqlite3"
brew "xz"
brew "zlib"

brew "minikube"
brew "imagemagick"

brew "pinentry-mac"

# Casks
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "font-source-code-pro"
cask "font-hack-nerd-font"
cask "font-victor-mono-nerd-font"
cask "font-cascadia-code"

cask "spotify"
cask "lastpass"
cask "element"

cask "kitty"
cask "docker"
cask "visual-studio-code"
cask "neovide"
cask "google-cloud-sdk"
cask "rectangle"
cask "kaleidoscope"
cask "chrysalis"

cask "1password-cli"

{{- if ne .location "thyme" }}
cask "qmk-toolbox"
cask "google-chrome"
cask "slack"
{{ end }}

